model-viewer {
  width: auto;
  max-width: 1200px;
  height: 750px;
  background-color: blanchedalmond;
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot-img.svg) center no-repeat;
  border: 0px;
  width: 25px;
  height: 25px;
  opacity: 0.95;
  display: block;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 350px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
}
.HotspotAnnotation img {
  width: 300px;
  height: auto;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(calc(-50% + 4px));
      -ms-transform: translateY(calc(-50% + 4px));
          transform: translateY(calc(-50% + 4px));
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
            transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
            transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes circle {
  from {
    -webkit-transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
            transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
            transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@-webkit-keyframes elongate {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes elongate {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  -webkit-animation: elongate 2s infinite ease-in-out alternate;
          animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  -webkit-animation: circle 4s linear infinite;
          animation: circle 4s linear infinite;
}